.color{
	color: #4C925D !important;
}
label{
	display: none !important;
}
.form-control{
	margin-top: 16px;	
}

.panel-green {
    border-color: #5CB85C !important;
}
.btn-circle {
    border-radius: 15px !important;
}
.btn-circle {
    border-radius: 15px !important;
    line-height: 1.42857 !important;
    padding: 6px 0 !important;
    text-align: center !important;
}

.btn-lateral{
	float: right;
	
}
.btns-clients {
    margin-bottom: 20px;
}